<h1>Home#index</h1>
<p>This is manali app:P</p>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-savetodrive"
<% path= Rails.root.join('laddu', '1.pdf')%>
<% puts "****************************************" %>
<% puts path %>
   data-src="<% path %>"
   data-filename="1.pdf"
   data-sitename="My Company Name">
</div>
